@use '../abstracts' as *;

.intro__btn,
.sign-up__btn {
  border: none;
  background-image: linear-gradient(to right, $cyan-cta, $blue-cta);
  padding: 1rem;
  border-radius: 3rem;
  cursor: pointer;
}

.intro__btn {
  width: 16rem;
  margin-top: 1.8rem;
}

.sign-up__btn {
  width: 100%;
  margin-top: 1.4rem;
}
