@use '../abstracts' as *;

.features {
  background-color: $dark-blue-main-bg;
  &__container {
    text-align: center;
    padding: 6rem 1.2rem 3rem 1.2rem;
    display: grid;
    gap: 6rem;
    @include responsive(tablet) {
      padding: 6rem 2rem 3rem 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 3rem;
    }
  }
}
