@use '../abstracts' as *;

.footer {
  background-color: $dark-blue-footer-bg;
  &__container {
    padding: 15rem 1.2rem;
    padding-bottom: 3rem;
    @include responsive(tablet) {
      padding: 15rem 2rem;
      padding-bottom: 3rem;
    }
    @include responsive(laptop) {
      padding: 15rem 3rem;
      padding-bottom: 0.1rem;
    }
  }
  &__location {
    display: flex;
    margin-bottom: 1rem;
  }
  &__location-icon {
    object-fit: contain;
    align-self: flex-start;
    position: relative;
    top: 0.4rem;
  }
  &__location-desc {
    margin-top: 0;
    margin-left: 1.3rem;
    width: 80%;
    @include responsive(tablet) {
      width: 50%;
    }
    @include responsive(laptop) {
      width: 100%;
    }
  }
  &__contact {
    margin-bottom: 4rem;
    @include responsive(laptop) {
      margin-bottom: 0;
      margin-left: 1.3rem;
    }
  }
  &__contact-phone-icon,
  &__contact-email-icon {
    position: relative;
    top: 0.2rem;
  }
  &__contact-phone-wrapper {
    margin-bottom: 1.5rem;
  }
  &__contact-phone-number,
  &__contact-email-address {
    margin-left: 0.9rem;
  }
  &__list {
    list-style-type: none;
    padding: 0;
    line-height: 2.5;
    @include responsive(laptop) {
      margin-top: 0;
    }
  }
  &__socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
    @include responsive(laptop) {
      margin-top: 0;
      align-items: inherit;
    }
  }
  &__icon-wrapper {
    margin-right: 1rem;
  }
  &__icon-wrapper:nth-child(3) {
    margin-right: 0;
  }
  &__container-2 {
    margin-top: 3rem;
    @include responsive(laptop) {
      margin-top: 0;
    }
  }
  &__nav-container {
    @include responsive(laptop) {
      display: flex;
      align-items: initial;
    }
  }
  &__nav-1 {
    @include responsive(laptop) {
      margin-bottom: 2rem;
    }
  }
  &__nav-2 {
    @include responsive(laptop) {
      margin-left: 5rem;
      align-self: flex-start;
    }
  }
  &__desktop-wrapper {
    @include responsive(laptop) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      gap: 2rem;
    }
  }
  &__logo-wrapper {
    @include responsive(laptop) {
      margin-bottom: 2.5rem;
    }
  }
}
