@use '../abstracts' as *;

.header {
  background-color: $intro-and-email-sign-up-bg;
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding: 1.2rem;
    @include responsive(tablet) {
      padding: 2rem;
    }
  }
  &__nav-list {
    padding: 0;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    float: right;
    text-align: right;
    gap: 1rem;
    @include responsive(mobile) {
      gap: 1.5rem;
    }
  }
  &__nav-link {
    text-decoration: none;
  }
  &__nav-link:hover {
    text-decoration: underline;
  }
  &__nav-list-item {
    list-style-type: none;
    font-size: 0.9rem;
  }
  &__logo-container {
    display: grid;
    align-items: center;
    margin-top: 0.6rem;
  }
  &__logo-link {
    display: block;
    position: absolute;
  }
  &__logo {
    width: 100px;
  }
}
