/**
* Basic typography style for copy text
*/
@use '../abstracts' as *;

.header__nav-list {
  font-family: $secondaryFont;
}
.header__nav-link {
  color: $white;
}

.intro__heading,
.intro__paragraph {
  color: $white;
}

.intro__heading {
  font-family: $secondaryFont;
  line-height: 1.5;
}
.intro__paragraph {
  font-family: $primaryFont;
  line-height: 1.6;
  font-size: 0.9rem;
  max-width: 290px;
  margin: 0 auto;
  @include responsive(tablet) {
    max-width: 350px;
  }
}

.intro__btn,
.sign-up__btn {
  color: $white;
  font-family: $secondaryFont;
  font-weight: 700;
  font-size: 0.9rem;
}

.features__title,
.features__desc {
  color: $white;
}
.features__title {
  font-family: $secondaryFont;
  margin-top: 2rem;
  margin-bottom: 0;
}
.features__desc {
  font-family: $primaryFont;
  line-height: 1.6;
  font-size: 0.9rem;
  @include responsive(tablet) {
    font-size: 0.8rem;
  }
}

.cta__title,
.cta__desc {
  color: $white;
}
.cta__title {
  font-family: $secondaryFont;
  @include responsive(tablet) {
    font-size: 1.7rem;
    line-height: 1.4;
  }
}
.cta__desc {
  font-family: $primaryFont;
  font-size: 0.9rem;
  line-height: 1.6;
  @include responsive(tablet) {
    font-size: 0.8rem;
  }
}
.cta__link {
  font-family: $primaryFont;
}

.testimonial__review-container {
  font-family: $primaryFont;
  color: $white;
  font-size: 0.8rem;
  line-height: 1.8;
}

.sign-up__title,
.sign-up__desc {
  color: $white;
}
.sign-up__title {
  font-family: $secondaryFont;
  @include responsive(tablet) {
    font-size: 1.5rem;
  }
}
.sign-up__desc {
  font-family: $primaryFont;
  font-size: 0.8rem;
  line-height: 1.6;
}

.footer__container {
  font-family: $primaryFont;
  color: $white;
  font-size: 0.9rem;
}
.footer__location-desc {
  line-height: 1.6;
}
.footer__contact-phone-number,
.footer__contact-email-address,
.footer__list-item-link {
  color: $white;
  text-decoration: none;
}
.footer__contact-phone-number:hover,
.footer__contact-email-address:hover,
.footer__list-item-link:hover {
  text-decoration: underline;
}
