// Colors

// Primary Colors
$intro-and-email-sign-up-bg: hsl(217, 28%, 15%);
$dark-blue-main-bg: hsl(218, 28%, 13%);
$dark-blue-footer-bg: hsl(216, 53%, 9%);
$dark-blue-testimonial-bg: hsl(219, 30%, 18%);

// Accent Colors
$cyan-cta: hsl(176, 68%, 64%);
$blue-cta: hsl(198, 60%, 50%);
$error-color: hsl(0, 100%, 63%);

// Neutral
$white: hsl(0, 0%, 100%);
